{% extends 'base.html' %}

{% block contenido %}
<h2>Cotizacion</h2>
<p>Contacto: {{nombre}}</p>
<p>Empresa: {{empresa}}</p>

<table>
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Aluminio</th>
            <th>Vidrio</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        {% for ventana in ventanas %}
            <tr>
                <td>{{ventana.0}}</td>
                <td>{{ventana.3}}</td>
                <td>{{ventana.4}}</td>
                <td>{{ventana.1}}</td>
                <td>{{ventana.2}}</td>
                <td>{{ventana.5}}</td>
            </tr>
        {% endfor%}
    </tbody>
</table>



<p>Cantidad de ventanas cotizadas: {{cantidad}}</p>
<p>Costo bruto: {{ "{:.0f}".format(total.0) }}</p>

<p>Descuento: {{"{:.0f}".format(total.1)}}</p>
<p>Impuesto a las ventas IVA: {{ "{:.0f}".format(total.2) }}</p>
<p>Total factura: {{ "{:.0f}".format(total.3)}}</p>
<a href="/">Regresar</a>
{% endblock %}